{% extends 'base.html' %}

{% block head %}
<title>TaxCompare - About</title>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <article class="media content-section">
            <div class="media-body">
                <br>
                <center>
                    <h3>About</h3>
                    <br>
                    <p>
                        TaxCompare was developed for those people who may be offered two salaries in two different
                         regions of the world, or are just interested in whether the grass truly is greener on the other side.
                    </p>
                    <p>
                        Please take into account that this website should only be used as a rough guide.
                    </p>
                    <p>
                        I am working on adding in more regions. Sorry that the list is currently still so short.
                    </p>
                    <p>
                        Developed by <a href="https://lucazugic.github.io" target="_blank">Luca Zugic <i class="fas fa-external-link-alt"></i></a>
                    </p>
                </center>
            </div>
        </article>
    </div>
</div>
{% endblock %}