{% extends 'base.html' %}

{% block head %}
<title>TaxCompare</title>
{% endblock %}

{% block body %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-12">
            <article class="media content-section">
                <div class="media-body">
                    <br>
                    <h1><center>Compare income tax by region.</center></h1>
                    <br>
                    <br>
                </div>
            </article>
        </div>
        <div class="col-md-6">
            <article class="media content-section">
                <div class="media-body">
                    <form action="/compute" method="POST">
                        <div class="form-group">
                            <label for="income_1">Income</label>
                            <input type="text" placeholder="Enter Income" name="inc_1">
                            <select name=currencies method="GET" action="/">
                                {% for currency in currencies %}
                                <option value= "{{ currency }}" SELECTED>{{ currency }}</option>"
                                {% endfor %}
                            </select>
                            in
                            <select name=regions method="GET" action="/">
                                {% for region in regions %}
                                <option value= "{{ region }}" SELECTED>{{ region }}</option>"
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
            </article>
        </div>
        <div class="col-md-6">
            <article class="media content-section">
                <div class="media-body">
                    <form action="/compute" method="POST">
                        <div class="form-group">
                            <label for="income_2">Income</label>
                            <input type="text" placeholder="Enter Income" name="inc_2">
                            <select name=currencies method="GET" action="/">
                                {% for currency in currencies %}
                                <option value= "{{ currency }}" SELECTED>{{ currency }}</option>"
                                {% endfor %}
                            </select>
                            in
                            <select name=regions method="GET" action="/">
                                {% for region in regions %}
                                <option value= "{{ region }}" SELECTED>{{ region }}</option>"
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
            </article>
        </div>
    </div>
</main>
{% endblock %}