{% extends 'base.html' %}

{% block head %}
<title>TaxCompare</title>
{% endblock %}

{% block body %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-12">
            <article class="media content-section">
                <div class="media-body">
                    <h2><center>Compare income tax by region and income</center></h2>
                </div>
            </article>
        </div>
        <div class="col-md-12">
            <article class="media content-section">
                <div class="media-body">
                    <center><h6>Enter Income 1 and Income 2</h6></center>
                    <table style="width:100%">
                        <form action="/compute" method="POST">
                            <tr>
                                <th><label for="Income">Income 1 </label>
                                    <input type="number" placeholder="Enter Income" name="income_1" />
                                    <select class="u-full-width" name="currency_1">
                                        <option value=GBP>GBP </option>
                                    </select>
                                    in
                                    <select class="u-full-width" name="region_1">
                                        <option value=Scot0>Scotland w/o NI</option>
                                        <option value=Scot1>Scotland w/ NI</option>
                                        <option value=Eng0>England w/o NI</option>
                                        <option value=Eng1>Scotland w/ NI</option>
                                    </select>
                                </th>
                                <th>
                                    <label for="Income">Income 2 </label>
                                    <input type="number" placeholder="Enter Income" name="income_2" />
                                    <select class="u-full-width" name="currency_2">
                                        <option value=GBP>GBP </option>
                                    </select>
                                    in
                                    <select class="u-full-width" name="region_2">
                                        <option value=Scot0>England w/ NI</option>
                                        <option value=Scot1>England w/o NI</option>
                                        <option value=Eng0>Scotland w/ NI</option>
                                        <option value=Eng1>Scotland w/o NI</option>
                                    </select>
                                </th>
                            </tr>
                        </form>
                    </table>
                </div>
            </article>
        </div>
        <div class="col-md-4">
            <article class="media content-section">
                <div class="media-body">
                    <center><h6>Net Income 1</h6></center>
                    <label for="net income">Annual</label><div class="alert {{ alert_net_1 }}">{{ annual_net_income_1 }}{{ cur1 }} {{ annual_net_income_1_converted }}{{ cur2 }}</div>
                    <label for="net income monthly">Monthly</label><div class="alert {{ alert_net_1 }}">{{ monthly_net_income_1 }}{{ cur1 }} {{ monthly_net_income_1_converted }}{{ cur2 }}</div>
                    <center><h6>Income 1 Tax {{ with_NI_1 }}</h6></center>
                    <label for="annual tax">Annual</label><div class="alert {{ success }}">{{ annual_tax_1 }}{{ cur1 }} {{ annual_tax_1_converted }}{{ cur2 }}</div>
                    <label for="monthly taX">Monthly</label><div class="alert">{{ monthly_tax_1 }}{{ cur1 }} {{ monthly_tax_1_converted }}{{ cur2 }}</div>
                </div>
            </article>
        </div>
        <div class="col-md-4">
            <article class="media content-section">
                <div class="media-body">
                    <center><h6>Difference</h6></center>
                    <label for="total tax">annual </label><div class="alert">{{ yearly_net_difference_1 }}{{ cur1 }} {{ yearly_net_difference_2 }}{{ cur2 }}</div>
                    <label for="tax">Monthly </label><div class="alert">{{ monthly_net_difference_1 }}{{ cur1 }} {{ monthly_net_difference_2}}{{ cur2 }}</div>
                    <center><h6>Difference</h6></center>
                    <label for="total tax">Annual</label><div class="alert">{{ yearly_net_difference_1 }}{{ cur1 }} {{ yearly_net_difference_2 }}{{ cur2 }}</div>
                    <label for="tax">Monthly</label><div class="alert">{{ monthly_net_difference_1 }}{{ cur1 }} {{ monthly_net_difference_2}}{{ cur2 }}</div>
                </div>
            </article>
        </div>
        <div class="col-md-4">
            <article class="media content-section">
                <div class="media-body">
                    <center><h6>Net Income 2</h6></center>
                    <label for="annual income">Annual</label><div class="alert {{ success }}">{{ annual_net_income_2 }}{{cur2}} {{ annual_net_income_2_converted }}{{cur1}}</div>
                    <label for="monthly income">Monthly</label><div class="alert">{{ monthly_net_income_2 }}{{cur2}} {{ monthly_net_income_2_converted }}{{cur1}}</div>
                    <center><h6>Income 2 Tax {{ with_NI_2 }}</h6></center>
                    <label for="annual tax">Annual</label><div class="alert {{ success }}">{{ annual_net_income_2 }}{{cur2}} {{ annual_net_income_2_converted }}{{cur1}}</div>
                    <label for="monthly taX">Monthly</label><div class="alert">{{ monthly_net_income_2 }}{{cur2}} {{ monthly_net_income_2_converted }}{{cur1}}</div>
                </div>
            </article>
        </div>
        <div class="col-md-12">
            <article class="media content-section">
                <div class="media-body">
                    <center>
                        <p>
                           Be advised that this website is intended to be used only as a rough guide.<br>
                           Developed by <a href="https://lucazugic.github.io">Luca Zugic</a>
                        </p>
                    </center>
                </div>
            </article>
        </div>
    </div>
</main>
{% endblock %}