{% extends 'base.html' %}

{% block head %}
<title>TaxCompare</title>
{% endblock %}

{% block body %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-12">
            <article class="media content-section">
                <div class="media-body">
                    <h2><center>Compare income tax by region and income</center></h2>
                </div>
            </article>
        </div>
        <div class="col-md-12">
            <article class="media content-section">
                <div class="media-body">
                    <center>
                        <h6>Enter Income 1 and Income 2</h6>
                        <div class="container">
                            <div id="submitted_value">
                              {% if result %}
                                Selected Item: {{ result }}
                              {% endif %}
                            </div>
                        <form action="/submit" method="POST">   
                            <label for="Income">Income 1 </label>
                            <input type="number" placeholder="Enter Income" value="{{ request.form.get('income_1', '') }}" name="income_1" />
                            <select class="u-full-width" name="currency_1">
                                <option {% if request.form.get('currency_1', '') == "EUR" %} selected {% endif %} value=EUR>EUR</option>
                                <option {% if request.form.get('currency_1', '') == "CHF" %} selected {% endif %} value=CHF>CHF</option>
                                <option {% if request.form.get('currency_1', '') == "GBP" %} selected {% endif %} value=GBP>GBP</option>
                                <option {% if request.form.get('currency_1', '') == "USD" %} selected {% endif %} value=USD>USD</option>
                            </select>
                            in
                            <select class="u-full-width" name="region_1">
                                <optgroup label="Germany"></optgroup>
                                <option {% if request.form.get('region_1', '') == "Ger0" %} selected {% endif %} value=Ger>Germany</option>
                                <optgroup label="Great Britain"></optgroup>
                                <option {% if request.form.get('region_1', '') == "Scot1" %} selected {% endif %} value=Scot1>Scotland w/ NI</option>
                                <option {% if request.form.get('region_1', '') == "Scot0" %} selected {% endif %} value=Scot0>Scotland w/o NI</option>
                                <option {% if request.form.get('region_1', '') == "Eng1" %} selected {% endif %} value=Eng1>England w/ NI</option>
                                <option {% if request.form.get('region_1', '') == "Eng0" %} selected {% endif %} value=Eng0>England w/o NI</option>
                                <option disabled value=Ger1>More, coming soon!</option>
                            </select>
                            &nbsp;&nbsp;&nbsp;&nbsp;      
                            <label for="Income">Income 2 </label>
                            <input type="number" placeholder="Enter Income" value="{{ request.form.get('income_2', '') }}" name="income_2" />
                            <select class="u-full-width" name="currency_2">
                                <option {% if request.form.get('currency_2', '') == "EUR" %} selected {% endif %} value=EUR>EUR</option>
                                <option {% if request.form.get('currency_2', '') == "CHF" %} selected {% endif %} value=CHF>CHF</option>
                                <option {% if request.form.get('currency_2', '') == "GBP" %} selected {% endif %} value=GBP>GBP</option>
                                <option {% if request.form.get('currency_2', '') == "USD" %} selected {% endif %} value=USD>USD</option>
                            </select>
                            in
                            <select value="{{ request.form.get('region_2', '') }}" name="region_2">
                                <optgroup label="Germany"></optgroup>
                                <option {% if request.form.get('region_2', '') == "Ger0" %} selected {% endif %} value=Ger0>Germany tax only</option>
                                <optgroup label="Great Britain"></optgroup>
                                <option {% if request.form.get('region_2', '') == "Scot1" %} selected {% endif %} value=Scot1>Scotland w/ NI</option>
                                <option {% if request.form.get('region_2', '') == "Scot0" %} selected {% endif %} value=Scot0>Scotland w/o NI</option>
                                <option {% if request.form.get('region_2', '') == "Eng1" %} selected {% endif %} value=Eng1>England w/ NI</option>
                                <option {% if request.form.get('region_2', '') == "Eng0" %} selected {% endif %} value=Eng0>England w/o NI</option>
                                <option disabled value=Ger1>More, coming soon!</option>
                            </select>
                            <br>
                            <input class="submit-button" type="submit" value="Calculate" />
                        </form>
                        <div class="aler alert-warning">{{ missing_value_alert_message }}</div>
                    </center>
                </div>
            </article>
        </div>
        <div class="col-md-4">
            <article class="media content-section">
                <div class="media-body">
                    <center><h6>Net Income 1</h6></center>
                    <label for="net income">Annual</label><div class="alert {{ income_alert_1 }}">{{ annual_net_income_1 }} {{ cur1 }} {{ annual_net_income_1_converted }} {{ cur1_conv }}</div>
                    <label for="net income monthly">Monthly</label><div class="alert {{ income_alert_1 }}">{{ monthly_net_income_1 }} {{ cur1 }} {{ monthly_net_income_1_converted }} {{ cur1_conv }}</div>
                    <center><h6>Income 1 Tax {{ ni_extension_1 }}</h6></center>
                    <label for="percentage tax">% going to taxes {{ ni_extension_1 }}</label><div class="alert {{ percentage_alert_1 }}">{{ percentage_tax_1 }}</div>
                    <label for="annual tax">Annual</label><div class="alert {{ tax_alert_1 }}">{{ annual_tax_1 }} {{ cur1 }} {{ annual_tax_1_converted }}{{ cur1_conv }}</div>
                    <label for="monthly tax">Monthly</label><div class="alert {{ tax_alert_1 }}">{{ monthly_tax_1 }} {{ cur1 }} {{ monthly_tax_1_converted }}{{ cur1_conv }}</div>
                </div>
            </article>
        </div>
        <div class="col-md-4">
            <article class="media content-section">
                <div class="media-body">
                    <center><h6>Net Income Difference</h6></center>
                    <label for="total tax">Annual</label><div class="alert">{{ annual_net_difference_1 }} {{ difference_currency_1 }} {{ annual_net_difference_2 }} {{ difference_currency_2 }}</div>
                    <label for="tax">Monthly </label><div class="alert">{{ monthly_net_difference_1 }} {{ difference_currency_1 }} {{ monthly_net_difference_2 }} {{ difference_currency_2 }}</div>
                    <center><h6>Tax Difference</h6></center>
                    <label for="percentage tax">Difference of %</label><div class="alert">{{ percentages_difference }}</div>
                    <label for="total tax">Annual</label><div class="alert">{{ annual_tax_difference_1 }} {{ difference_currency_1 }} {{ annual_tax_difference_2 }} {{ difference_currency_2 }}</div>
                    <label for="tax">Monthly</label><div class="alert">{{ monthly_tax_difference_1 }} {{ difference_currency_1 }} {{ monthly_tax_difference_2 }} {{ difference_currency_2 }}</div>
                </div>
            </article>
        </div>
        <div class="col-md-4">
            <article class="media content-section">
                <div class="media-body">
                    <center><h6>Net Income 2</h6></center>
                    <label for="annual income">Annual</label><div class="alert {{ income_alert_2 }}">{{ annual_net_income_2 }} {{cur2}} {{ annual_net_income_2_converted }}{{cur2_conv}}</div>
                    <label for="monthly income">Monthly</label><div class="alert {{ income_alert_2 }}">{{ monthly_net_income_2 }} {{cur2}} {{ monthly_net_income_2_converted }}{{cur2_conv}}</div>
                    <center><h6>Income 2 Tax {{ ni_extension_2 }}</h6></center>
                    <label for="percentage tax">% going to taxes {{ ni_extension_2 }}</label><div class="alert {{ percentage_alert_2 }}">{{ percentage_tax_2 }}</div>
                    <label for="annual tax">Annual</label><div class="alert {{ tax_alert_2 }}">{{ annual_tax_2 }} {{cur2}} {{ annual_tax_2_converted }}{{cur2_conv}}</div>
                    <label for="monthly taX">Monthly</label><div class="alert {{ tax_alert_2 }}">{{ monthly_tax_2 }} {{cur2}} {{ monthly_tax_2_converted }}{{cur2_conv}}</div>
                </div>
            </article>
        </div>
        <div class="col-md-12">
            <article class="media content-section">
                <div class="media-body">
                    <center>
                        <p>
                           Be advised that this website is intended to be used as a rough guide only.<br>
                           Developed by <a href="https://lucazugic.github.io">Luca Zugic</a>
                        </p>
                    </center>
                </div>
            </article>
        </div>
    </div>
</main>
{% endblock %}